body {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    width: 100%;
}

a {
    box-sizing: border-box;
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 20px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.info a {
    display: block;
}

.logo__word {
    padding: 6px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(48, 48, 247);
    color: #fff;
    border-radius: 12px;
}

#menu-section {
    margin-bottom: 40px;
}

.menu__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu__navigation li {
    list-style: none;
}

.menu__navigation a {
    text-decoration: none;
    color: #757575;
}

.mainBlock {
    display: flex;
    align-items: baseline;
}

.mainBlock__sidebar--list li {
    list-style: none;
    color: rgb(49, 113, 250);
    white-space: nowrap;
}

.mainBlock__sidebar--list a:hover {
    list-style: none;
    color: rgb(20, 92, 247);
    white-space: nowrap;
}

.mainBlock__sidebar--list a {
    text-decoration: none;
    color: rgb(49, 113, 250);
}

.dropdown {
    cursor: default;
}

.dropdown li a {
    display: none;
}

.dropdown.open li a {
    display: block;
}

.is_active {
    font-weight: 600;
}


.dropdown:hover li a {
    display: block;
}

.nested_list {
    margin-left: 12px;
}

.mainBlock__content {
    margin-left: 80px;
}

.mainBlock__content h2 {
    font-size: 22px;
    text-align: left;
}

.mainBlock__content h2, .mainBlock__content p {
    margin-bottom: 32px;
}

.mainBlock__content-wrapper {
    display: flex;
    justify-content: space-between;
}

.mainBlock__content--img img {
    width: 300px;
}

.text {
    margin-top: 80px;
}